@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fonte-principal: "Roboto", "Lato", "Open Sans", sans-serif;

    /* Paleta Principal */
    --azul-background-claro: #D9ECFF;
    --azul-background: #A6D2FF;
    --azul-escuro: #074B8F;
    --azul: #6EB1F5;
    --azul-cinza: #17395C;

    /* Paleta Secundária */
    --misty-rose: #f9e0d9ff;
    --space-cadet: #251f47ff;
    --cerulean: #0b7189ff;
    --sky-blue: #72ddf7ff;
    --light-sky-blue: #7fc8f8ff;
}

*{
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
}

/* HEADER */
header > nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

header > nav > ul > li {
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

header > nav > ul > li > a {
    color: black;
    text-decoration: none;
}

/* Foto */
.foto-port {
    display: block;
    margin: 30px auto;
    width: 80%;
    border-radius: 7px;
}

/* Texto de Apresentação */
.apresentacao {
    width: 90%;
    margin: auto;
}

.apresentacao p {
    font-size: 1.5em;
    text-align: justify;
}

.apresentacao p:first-child {
    text-indent: 30px;
}

.apresentacao p:last-child, .apresentacao p:nth-of-type(2) {
    text-indent: 20px;
    margin-bottom: 5px;
}

.apresentacao h1 {
    font-size: 3em;
    text-align: center;
}

/* Links para Redes Sociais */
.container-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 7px 0px;
    border: 2px solid rgba(0, 0, 0, 0.568);
    border-radius: 4px;
    box-shadow: 4px 2px 1px 1px rgba(0, 0, 0, 0.438);
    width: 140px;
}

.redes-sociais:hover {
    border: 2px solid black;
    font-weight: bold;
    box-shadow: 4px 2px 1px 1px rgba(0, 0, 0, 0.699);
}

.redes-sociais > img {
    width: 30%;
}

.redes-sociais > a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 1.3em;
}
