@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fonte-principal: "Roboto", "Lato", "Open Sans", sans-serif;

    /* Paleta Principal */
    --azul-background-claro: #D9ECFF;
    --azul-background: #A6D2FF;
    --azul-escuro: #074B8F;
    --azul: #6EB1F5;
    --azul-cinza: #173a5c;
    --azul-cinza-opacidade: #173a5c85;

    /* Paleta Secundária */
    --misty-rose: #f9e0d9ff;
    --space-cadet: #251f47ff;
    --cerulean: #0b7189ff;
    --sky-blue: #72ddf7ff;
    --light-sky-blue: #7fc8f8ff;
}

*{
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--azul-background-claro);
}

/* HEADER */
header > nav {
    display: none;
}

header > nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    background-color: var(--azul-cinza);
}

header > nav > ul > li {
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--azul-background-claro);
}

header > nav > ul > li > a {
    color: var(--azul-background-claro);
    text-decoration: none;
}

/* Foto */
.foto-port {
    display: block;
    margin: 30px auto;
    width: 80%;
    border-radius: 7px;
    box-shadow: 3px 3px 1px var(--azul-cinza-opacidade);
}

/* Texto de Apresentação */
.apresentacao {
    width: 90%;
    margin: auto;
}

.apresentacao p {
    font-size: 1.5em;
    text-align: justify;
}

.apresentacao p:first-child {
    text-indent: 30px;
}

.apresentacao p:last-child, .apresentacao p:nth-of-type(2) {
    text-indent: 20px;
    margin-bottom: 5px;
}

.apresentacao h1 {
    font-size: 3em;
    text-align: center;
}

/* Links para Redes Sociais */
.container-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 7px 0px;
    border: 2px solid var(--azul-cinza);
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0px var(--azul-cinza-opacidade);
    width: 140px;
    background-color: var(--azul-background);
}

.redes-sociais:hover {
    border: 2px solid var(--azul-cinza);
    font-weight: bold;
    box-shadow: 4px 2px 3px 1px var(--azul-cinza);
    background-color: var(--azul);
}

.redes-sociais > img {
    width: 30%;
}

.redes-sociais > a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 1.3em;
}


/* Projetos */
.projetos > h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 70px 0px 40px 0px;
}

.projetos > .projeto > h2 {
    text-align: center;
    margin: 10px 0px;
}

.projetos > .projeto > p {
    font-size: 1.2em;
    margin: 0px 20px;
    text-align: justify;
    text-indent: 30px;
}

.projetos > .projeto > div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;
}

.projetos > .projeto > div > a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border: 1px solid var(--azul-cinza-opacidade);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px var(--azul-cinza-opacidade);
    background-color: var(--azul-background);
}

.projetos > .projeto > div > a:hover {
    font-weight: bold;
    box-shadow: 4px 2px 3px 1px var(--azul-cinza);
    border: 2px solid var(--azul-cinza);
    background-color: var(--azul);
}

/* Contatos */
.contatos {
    margin: 60px 0px;
}

.contatos > h1 {
    text-align: center;
    font-size: 3em;
}

/* Rodapé */
footer {
    padding: 30px;
    text-align: left;
    font-size: 1.1em;
    color: white;
    background-color: var(--azul-cinza);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}